In [17]:
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [34]:
path = "/content/gdrive/My Drive/fh/Train_NT/TC.csv"
claim=pd.read_csv(path)

In [ ]:
path = "/content/gdrive/My Drive/fh/Train_NT/Train_Demographics.csv"
demo=pd.read_csv(path)

In [ ]:
path = "/content/gdrive/My Drive/fh/Train_NT/Train_Vehicle.csv"
vehicle=pd.read_csv(path)

In [ ]:
path = "/content/gdrive/My Drive/fh/Train_NT/Train_Policy.csv"
policy=pd.read_csv(path)

In [ ]:
path5 = "/content/gdrive/My Drive/fh/Train_NT/Traindata_with_Target.csv"
dataset=pd.read_csv(path5)

In [1]:
#starting with claim:

In [19]:
claim.shape

(28836, 19)

In [20]:
claim.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,3,?,1,0,?,65501,13417,6071,46013
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,3,YES,2,1,YES,61382,15560,5919,39903
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,1,YES,2,3,NO,66755,11630,11630,43495
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,1,YES,2,3,NO,66243,12003,12003,42237
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,1,NO,2,1,YES,53544,8829,7234,37481

In [21]:
claim.dtypes

CustomerID               object
DateOfIncident           object
TypeOfIncident           object
TypeOfCollission         object
SeverityOfIncident       object
AuthoritiesContacted     object
IncidentState            object
IncidentCity             object
IncidentAddress          object
IncidentTime              int64
NumberOfVehicles          int64
PropertyDamage           object
BodilyInjuries            int64
Witnesses                object
PoliceReport             object
AmountOfTotalClaim       object
AmountOfInjuryClaim       int64
AmountOfPropertyClaim     int64
AmountOfVehicleDamage     int64
dtype: object

In [22]:
claim.describe(include='all')

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
count,28836,28836,28836,28836,28836,28836,28836,28836,28836,28836.000000,28836.000000,28836,28836.000000,28836,28836,28836,28836.000000,28836.000000,28836.000000
unique,28836,72,4,4,4,5,7,7,1000,NaN,NaN,3,NaN,5,3,21976,NaN,NaN,NaN
top,Cust10000,2015-01-10,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1341,NaN,NaN,?,NaN,2,NO,MISSEDDATA,NaN,NaN,NaN
freq,1,661,11966,8561,10400,8324,7886,4486,73,NaN,NaN,10459,NaN,8449,9898,50,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.746047,1.823207,NaN,0.985782,NaN,NaN,NaN,7337.118428,7283.870197,37687.129387
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.170069,0.980099,NaN,0.784764,NaN,NaN,NaN,4427.638593,4375.842738,17977.048232
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.000000,1.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000,109.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,1.000000,NaN,0.000000,NaN,NaN,NaN,4743.750000,4862.000000,32193.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,1.000000,NaN,1.000000,NaN,NaN,NaN,7147.000000,7051.000000,42457.500000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,3.000000,NaN,2.000000,NaN,NaN,NaN,10571.250000,10327.000000,49535.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,4.000000,NaN,2.000000,NaN,NaN,NaN,21450.000000,23670.000000,79560.000000

In [ ]:
#Preprocess requirements:

In [ ]:
#categ=TypeOfIncident,SeverityOfIncident,TypeOfCollision,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddess,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,NumberOfVehicles,IncidentTime(hours)
#num=CustomerID,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfTotalClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
#date-time=DateOfIncident

In [ ]:
for x in claim.columns:
  print(claim[x].value_counts())

Cust10000    1
Cust33397    1
Cust33356    1
Cust33354    1
Cust33353    1
            ..
Cust21600    1
Cust2160     1
Cust21599    1
Cust21598    1
Cust9999     1
Name: CustomerID, Length: 28836, dtype: int64
2015-01-10    661
2015-01-18    657
2015-02-17    648
2015-01-17    647
2015-01-09    646
             ...
2015-03-08      2
2015-03-07      1
2015-03-12      1
2015-03-10      1
2015-03-14      1
Name: DateOfIncident, Length: 72, dtype: int64
Multi-vehicle Collision     11966
Single Vehicle Collision    11677
Vehicle Theft                2685
Parked Car                   2508
Name: TypeOfIncident, dtype: int64
Rear Collision     8561
Side Collision     7867
Front Collision    7246
?                  5162
Name: TypeOfCollission, dtype: int64
Minor Damage      10400
Total Loss         8218
Major Damage       7671
Trivial Damage     2547
Name: SeverityOfIncident, dtype: int64
Police       8324
Fire         6518
Ambulance    5732
Other        5570
None         2692
Name: AuthoritiesContacted, dtype: int64
State5    7886
State7    7168
State9    6161
State8    3181
State4    3029
State6     810
State3     601
Name: IncidentState, dtype: int64
City2    4486
City1    4374
City4    4311
City7    4216
City3    4073
City5    3698
City6    3678
Name: IncidentCity, dtype: int64
Location 1341    73
Location 1254    72
Location 1227    71
Location 2006    70
Location 1136    68
                 ..
Location 1359    10
Location 1464    10
Location 2072     9
Location 1043     9
Location 1555     9
Name: IncidentAddress, Length: 1000, dtype: int64
 16    1616
 17    1615
 6     1564
 15    1541
 14    1461
 5     1434
 13    1420
 18    1419
 4     1406
 12    1363
 7     1331
 11    1286
 19    1280
 8     1251
 3     1232
 9     1210
 10    1165
 20    1153
 21     971
 22     809
 2      713
 1      648
 23     526
 0      391
-5       31
Name: IncidentTime, dtype: int64
1    16169
3     9711
2     2276
4      680
Name: NumberOfVehicles, dtype: int64
?      10459
NO      9687
YES     8690
Name: PropertyDamage, dtype: int64
1    11072
0     9087
2     8677
Name: BodilyInjuries, dtype: int64
2               8449
1               8345
0               6128
3               5868
MISSINGVALUE      46
Name: Witnesses, dtype: int64
NO     9898
?      9805
YES    9133
Name: PoliceReport, dtype: int64
MISSEDDATA    50
6820          12
5400           8
60600          8
55000          7
              ..
37863          1
33412          1
62879          1
54465          1
55830          1
Name: AmountOfTotalClaim, Length: 21976, dtype: int64
0        68
480      51
640      34
580      19
536      17
         ..
14398     1
5925      1
16236     1
15321     1
14699     1
Name: AmountOfInjuryClaim, Length: 11958, dtype: int64
0        35
580      17
578      16
606      16
506      15
         ..
12312     1
11987     1
12477     1
10953     1
13131     1
Name: AmountOfPropertyClaim, Length: 11785, dtype: int64
2560     19
5040     12
28000    11
3600      8
3290      8
         ..
62176     1
30734     1
43250     1
42999     1
41183     1
Name: AmountOfVehicleDamage, Length: 20041, dtype: int64

In [ ]:
#########################ACTIONS
#CustomerID is of no use,but required to merge with other datasets
#DateOfIncident:Convert into date and time stamp,separate the month and day dates,analyse and plot them to find the major months of accidents
#TypeOfCollision:has missing values:"?"...
#Location:remove the column
#IncidentTime:has missing values:"-5"
#PropertyDamage:has missing values:"?"
#AmountOfTotalClaim:missing values:"MISSEDDATA"
#PoliceReport:missing values:"?"
#Witnesses:has missing values:"MISSINGVALUE"

In [35]:
#obtaining the month and year from the DateOfIncident and understanding them
claim['YearOfIncident']=pd.to_datetime(claim['DateOfIncident']).dt.year.astype('category')
claim['MonthOfIncident']=pd.to_datetime(claim['DateOfIncident']).dt.month.astype('category')
print(claim.YearOfIncident.value_counts())
print(claim.MonthOfIncident.value_counts())

2015    28836
Name: YearOfIncident, dtype: int64
1    14796
2    13803
3      237
Name: MonthOfIncident, dtype: int64

In [ ]:
#to drop the DateOfIncident and IncidentAddress column
#IncidentAddress:as the location of incident has no importance logically for the insurance company
#DateOfTime:the month and year of accidents are good enough for any further analysis

In [36]:
claim.TypeOfCollission.replace('?',np.nan,inplace=True)
claim.IncidentTime.replace(-5,np.nan,inplace=True)
claim.PropertyDamage.replace('?',np.nan,inplace=True)
claim.AmountOfTotalClaim.replace('MISSEDDATA',np.nan,inplace=True)
claim.PoliceReport.replace('?',np.nan,inplace=True)
claim.Witnesses.replace('MISSINGVALUE',np.nan,inplace=True)

In [28]:
claim.isna().sum()

CustomerID                   0
TypeOfIncident               0
TypeOfCollission          5162
SeverityOfIncident           0
AuthoritiesContacted         0
IncidentState                0
IncidentCity                 0
IncidentTime                31
NumberOfVehicles             0
PropertyDamage           10459
BodilyInjuries               0
Witnesses                   46
PoliceReport              9805
AmountOfTotalClaim          50
AmountOfInjuryClaim          0
AmountOfPropertyClaim        0
AmountOfVehicleDamage        0
MonthOfIncident              0
dtype: int64

In [45]:
#not important:
#TypeOfCollission
#AuthoritiesContacted
#IncidentTime
#NumberOfVehicles
#Witnesses
#IncidentAddress
#DateOfIncident

In [37]:
claim.drop(['DateOfIncident','IncidentAddress','IncidentTime','TypeOfCollission','NumberOfVehicles'],axis=1,inplace=True)

In [43]:
cat_cols=['TypeOfIncident','SeverityOfIncident','AuthoritiesContacted','IncidentState'
          ,'IncidentCity','PropertyDamage',
          'Witnesses','PoliceReport']
claim[cat_cols]=claim[cat_cols].astype('category')

In [44]:
num_cols=claim.drop('CustomerID',axis=1).select_dtypes(exclude='category').columns
#claim[num_cols]=claim[num_cols].astype('int')
num_cols

Index(['AmountOfTotalClaim', 'AmountOfInjuryClaim', 'AmountOfPropertyClaim',
       'AmountOfVehicleDamage'],
      dtype='object')

In [29]:
claim.dtypes

CustomerID               category
TypeOfIncident           category
TypeOfCollission         category
SeverityOfIncident       category
AuthoritiesContacted     category
IncidentState            category
IncidentCity             category
IncidentTime              float64
NumberOfVehicles         category
PropertyDamage           category
BodilyInjuries           category
Witnesses                category
PoliceReport             category
AmountOfTotalClaim         object
AmountOfInjuryClaim         int64
AmountOfPropertyClaim       int64
AmountOfVehicleDamage       int64
MonthOfIncident          category
dtype: object

In [ ]:
#we will update the missing values with the help of IterativeImputer once combining all the datasets

In [41]:
claim.to_csv('claim.csv',index=False)

In [2]:
#starting with demo:

In [ ]:
demo.shape

In [ ]:
demo.describe(include='all')

In [ ]:
demo.dtypes

In [ ]:
#observations:
#cat:CustomerID,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,Country
#num:InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss

In [ ]:
#finding the unique values and analysing the data
for x in demo.select_dtypes(include='object').columns:
  print(demo[x].value_counts())

In [ ]:
demo.isna().sum()

In [ ]:
#the columns country is the same for everyone so we will drop it
#InsuredGender has missing values:'NA'

In [ ]:
demo.InsuredGender.replace('NA',np.nan,inplace=True)
demo.drop('Country',axis=1,inplace=True)

In [ ]:
demo.columns

In [ ]:
demo.drop('InsuredHobbies',axis=1,inplace=True)

In [ ]:
cat_cols=demo.select_dtypes(include='object').columns
demo[cat_cols]=demo[cat_cols].astype('category')

In [ ]:
#the int columns are predefined yet once again to avoid any confusions
num_cols=demo.drop('CustomerID',axis=1).select_dtypes(exclude='category').columns
demo[num_cols]=demo[num_cols].astype('int')

In [ ]:
demo.to_csv('demo.csv',index=False)

In [3]:
#statring with policy

In [ ]:
policy.shape

In [ ]:
policy.dtypes

In [ ]:
policy.describe(include='all')

In [ ]:
for x in policy.drop('CustomerID',axis=1).select_dtypes(include='object').columns:
  print(policy[x].value_counts())

In [ ]:
#seems there are no missing values in the set
policy.isna().sum()

In [ ]:
#not important columns:
#InsurancePolicyNumber
#DateOfPolicyCoverage
#InsurancePolicyState

In [ ]:
#assign date time stamp to DateOfPolicyCoverage column and obtain dates months and years from it separately
#policy['PolicyDay']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.day
policy['PolicyMonth']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.month
policy['PolicyYear']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.year

In [ ]:
policy.drop(['InsurancePolicyNumber','InsurancePolicyState','DateOfPolicyCoverage'],axis=1,inplace=True)

In [ ]:
#to covert the cols into cat
cat_cols=policy.drop('CustomerID',axis=1).select_dtypes(include='object').columns
policy[cat_cols]=policy[cat_cols].astype('category')

In [ ]:
policy.dtypes

In [ ]:
policy.to_csv('policy.csv',index=False)

In [4]:
#starting with  vehicle

In [ ]:
vehicle.shape

In [ ]:
vehicle.head()

In [ ]:
vehicle.describe(include='all')

In [ ]:
#both VehicleAttribute and VehicleAttributeDetails are cat
for x in vehicle.drop('CustomerID',axis=1).columns:
  print(vehicle[x].value_counts())

In [ ]:
#VehicleAttribute has multiple vehicle data:VehicleID,VehicleModel,VehicleMake,VehicleYOM..To split them into separate columns using dict

In [ ]:
vehicle['VehicleAttribute']=vehicle['VehicleAttribute'].astype('category')

In [ ]:
new_v=pd.DataFrame(vehicle['CustomerID'].unique(),columns=['CustomerID'])

df=vehicle.groupby(by='VehicleAttribute')
#by_id=pd.DataFrame(df.get_group('VehicleID'))
#attr_details=pd.Series(by_id.VehicleAttributeDetails)
#new_v=new_v.merge(by_id,on='CustomerID',how='left')

by_model=pd.DataFrame(df.get_group('VehicleModel'))
model_details=pd.Series(by_model.VehicleAttributeDetails)
new_v=new_v.merge(by_model,on='CustomerID',how='inner')

by_make=pd.DataFrame(df.get_group('VehicleMake'))
make_details=pd.Series(by_make.VehicleAttributeDetails)
new_v=new_v.merge(by_make,on='CustomerID',how='inner')

by_yom=pd.DataFrame(df.get_group('VehicleYOM'))
yom_details=pd.Series(by_yom.VehicleAttributeDetails)
new_v=new_v.merge(by_yom,on='CustomerID',how='inner')

#new_v.columns=['CustomerID','VID','ID','VM','Model','VMK','Make','VYOM','YOM']
new_v.columns=['CustomerID','VM','Model','VMK','Make','VYOM','YOM']

In [ ]:
new_v

In [ ]:
vehicle=pd.DataFrame()
vehicle['CustomerID']=new_v['CustomerID']
#vehicle['VehicleID']=new_v['ID'].astype('category')
vehicle['VehicleModel']=new_v['Model'].astype('category')
vehicle['VehicleMake']=new_v['Make'].astype('category')
vehicle['VehicleYOM']=new_v['YOM'].astype('category')
vehicle.head()

In [ ]:
vehicle.shape

In [ ]:
#to check for missing values after converting them to cat
vehicle.dtypes

In [ ]:
for x in vehicle.drop('CustomerID',axis=1).columns:
  print(vehicle[x].value_counts())
  #there are missing values in VehicleMake:'???'

In [ ]:
#to replace missing values in VehicleMake with np.nan
vehicle.VehicleMake.replace('???',np.nan,inplace=True)

In [ ]:
#binning years
yom=vehicle.VehicleYOM.to_list()
new_yom=[]
for x in range(len(yom)):
  if(yom[x]<='2000'):
    new_yom.append('0')
  elif('2000'<yom[x]<='2005'):
    new_yom.append('1')
  elif('2005'<yom[x]<='2010'):
    new_yom.append('2')
  else:
    new_yom.append('3')

vehicle.VehicleYOM=new_yom

In [ ]:
vehicle.to_csv('vehicle.csv',index=False)

In [5]:
#start with combined

In [ ]:
vehicle[['VehicleModel','VehicleMake','VehicleYOM']]=vehicle[['VehicleModel','VehicleMake','VehicleYOM']].astype('category')
#vehicleyOM is labelled such that recent cars have higher values

In [ ]:
policy[['Policy_CombinedSingleLimit',
        'InsuredRelationship']]=policy[['Policy_CombinedSingleLimit',
                                                     'InsuredRelationship']].astype('category')

In [ ]:
demo.dtypes

In [ ]:
demo[['InsuredGender','InsuredEducationLevel',
      'InsuredOccupation']]=demo[['InsuredGender','InsuredEducationLevel',
                                                   'InsuredOccupation']].astype('category')

In [ ]:
claim.dtypes

In [ ]:
claim[['TypeOfIncident','SeverityOfIncident','PropertyDamage','PoliceReport',
       'AuthoritiesContacted','IncidentState','IncidentCity','Witnesses','BodilyInjuries']]=claim[['TypeOfIncident','SeverityOfIncident','PropertyDamage','PoliceReport',
                                                                     'AuthoritiesContacted','IncidentState','IncidentCity','Witnesses','BodilyInjuries']].astype('category')

In [ ]:
#to merge all the datasets
dataset=dataset.merge(right=vehicle,on='CustomerID',how='inner')
dataset=dataset.merge(right=policy,on='CustomerID',how='inner')
dataset=dataset.merge(right=demo,on='CustomerID',how='inner')
dataset=dataset.merge(right=claim,on='CustomerID',how='inner')

In [ ]:
dataset.head()

In [ ]:
dataset.isna().sum()

In [ ]:
dataset.dtypes

In [ ]:
dataset.describe(include='all')

In [ ]:
#have to perfrom encoding(label/onehot)
df=dataset.drop(['CustomerID','ReportedFraud'],axis=1)

In [ ]:
#Lets encode minor damage:2,Trivial Damage:1,Major damage:3,Total Loss:4
#to assign labels in the order that i want according to the damage level
soi=df['SeverityOfIncident'].to_list()
new_soi=[]
for x in range(len(soi)):
  if(soi[x]=='Trivial Damage'):
    new_soi.append('1')
  elif(soi[x]=='Minor Damage'):
    new_soi.append('2')
  elif(soi[x]=='Major Damage'):
    new_soi.append('3')
  else:
    new_soi.append('4')

df['SeverityOfIncident']=new_soi
df['SeverityOfIncident'].value_counts()
df['SeverityOfIncident']=df['SeverityOfIncident'].astype('category')

In [ ]:
cat_cols=df.select_dtypes(include='category')
num_cols=df.select_dtypes(exclude='category')

In [ ]:
cat_cols
#can label encode the SeverityOfIncident column
#insuredrelationship//authoritiescontacted//incidentstate/incidentcity are not so important which we will confirm later with feature selection methods

In [ ]:
num_cols
#policymonth//policyyear//monthofincident  are not so important