In [2]:
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [10]:
path = "/content/gdrive/My Drive/fh/Train_NT/Train_Policy.csv"
policy=pd.read_csv(path)

In [11]:
policy.shape

(28836, 10)

In [13]:
policy.dtypes

InsurancePolicyNumber           int64
CustomerLoyaltyPeriod           int64
DateOfPolicyCoverage           object
InsurancePolicyState           object
Policy_CombinedSingleLimit     object
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
InsuredRelationship            object
CustomerID                     object
dtype: object

In [12]:
policy.describe(include='all')

,InsurancePolicyNumber,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,CustomerID
count,28836.000000,28836.000000,28836,28836,28836,28836.000000,28836.000000,2.883600e+04,28836,28836
unique,NaN,NaN,6779,3,9,NaN,NaN,NaN,6,28836
top,NaN,NaN,1998-11-11,State3,250/500,NaN,NaN,NaN,own-child,Cust1001
freq,NaN,NaN,38,10146,8260,NaN,NaN,NaN,5242,1
mean,129312.517097,203.067867,NaN,NaN,NaN,1114.282529,1255.528382,9.836680e+05,NaN,NaN
std,11114.060267,99.932951,NaN,NaN,NaN,546.632816,223.013899,1.969282e+06,NaN,NaN
min,110122.000000,1.000000,NaN,NaN,NaN,500.000000,-1.000000,-1.000000e+06,NaN,NaN
25%,119698.750000,126.000000,NaN,NaN,NaN,622.000000,1122.007500,0.000000e+00,NaN,NaN
50%,129278.500000,199.000000,NaN,NaN,NaN,1000.000000,1265.205000,0.000000e+00,NaN,NaN
75%,138933.250000,267.000000,NaN,NaN,NaN,1627.000000,1396.605000,4.859610e+05,NaN,NaN
max,148619.000000,479.000000,NaN,NaN,NaN,2000.000000,2047.590000,1.000000e+07,NaN,NaN

In [14]:
for x in policy.drop('CustomerID',axis=1).select_dtypes(include='object').columns:
  print(policy[x].value_counts())

1998-11-11    38
1995-08-19    32
1999-05-23    28
2001-06-10    27
2005-06-17    27
              ..
2012-09-27     1
2004-12-31     1
1999-07-31     1
1997-12-22     1
2010-12-14     1
Name: DateOfPolicyCoverage, Length: 6779, dtype: int64
State3    10146
State1     9716
State2     8974
Name: InsurancePolicyState, dtype: int64
250/500     8260
100/300     8050
500/1000    7000
250/300     1024
100/500      962
250/1000     953
500/500      872
500/300      868
100/1000     847
Name: Policy_CombinedSingleLimit, dtype: int64
own-child         5242
not-in-family     5222
other-relative    5153
husband           5002
wife              4224
unmarried         3993
Name: InsuredRelationship, dtype: int64

In [7]:
#seems there are no missing values in the set
policy.isna().sum()

InsurancePolicyNumber         0
CustomerLoyaltyPeriod         0
InsurancePolicyState          0
Policy_CombinedSingleLimit    0
Policy_Deductible             0
PolicyAnnualPremium           0
UmbrellaLimit                 0
InsuredRelationship           0
CustomerID                    0
PolicyDay                     0
PolicyMonth                   0
PolicyYear                    0
dtype: int64

In [16]:
#not important columns:
#InsurancePolicyNumber
#DateOfPolicyCoverage
#InsurancePolicyState

In [17]:
#assign date time stamp to DateOfPolicyCoverage column and obtain dates months and years from it separately
#policy['PolicyDay']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.day
policy['PolicyMonth']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.month
policy['PolicyYear']=pd.to_datetime(policy['DateOfPolicyCoverage']).dt.year

In [18]:
policy.drop(['InsurancePolicyNumber','InsurancePolicyState','DateOfPolicyCoverage'],axis=1,inplace=True)

In [19]:
#to covert the cols into cat
cat_cols=policy.drop('CustomerID',axis=1).select_dtypes(include='object').columns
policy[cat_cols]=policy[cat_cols].astype('category')

In [20]:
policy.dtypes

CustomerLoyaltyPeriod            int64
Policy_CombinedSingleLimit    category
Policy_Deductible                int64
PolicyAnnualPremium            float64
UmbrellaLimit                    int64
InsuredRelationship           category
CustomerID                      object
PolicyDay                        int64
PolicyMonth                      int64
PolicyYear                       int64
dtype: object

In [ ]:
policy.to_csv('policy.csv',index=False)